.App {
  text-align: center;
  background-size: fill;
  background-color: #90e7fc;
  height: 100vw;
}
.Form{
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  /*background-image: url("./background.jpg");
  background-size: 100%;*/
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
