.App {
  text-align: center;
  background-size: fill;
  background-color: #f0f8fc;
  height: 800px;
}
.Form{
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40min;
  pointer-events: none;
  /*background-image: url("./background.jpg");
  background-size: 100%;*/
}

.App-header {
  background-color: #282c34;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body{
  padding-top: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dropdown{
  width:50%;
}

.arrow{
  text-align: center;
}

h1{
  font-size: 220%;
  color: rgb(90, 91, 94);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#chart-wrapper{
  margin-left:auto;
  margin-right:auto;
  border-top: 200px;
  width: 70%;
}

p{
  font-size: 150%;
}

.Better-label{
  font-size: 400%;
}